* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Navigation  */
#navbar {
    display: flex;
    background-color: rgba(0, 0, 0);
    justify-content: center;
    position: sticky;
    top: 1px;
}

/* Navigition Bar  */
#navbar ul {
    display: flex;
    list-style: none;

}

#navbar ul li {
    padding: 12px 8px;

}

#navbar ul li a {
    padding: 2px 6px;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

#navbar ul li a:active {
    text-decoration: underline;
}

#navbar ul li a:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 12px;
}

#navbar h3 {
    margin: 2px 18px;
    position: absolute;
    top: 10px;
    left: 4px;
    color: white;
    font-size: 1.3rem;
}

/* Home Section  */

.home-section {
    /* border: 2px solid black; */
    background-color: black;
    margin: 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home {
    /* border: 2px solid black; */
    margin: 2px;
    height: 60vh;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-para p {
    /* display: flex; */
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 5rem;

}

.home-section h5 span {
    color: rgb(255, 247, 247);
}

h5 {
    font-size: 2rem;
    color: rgb(154, 152, 218);
}

/* About me Section  */

.about-section {
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: -1;
    display: flex;
    height: 700px;
    margin-bottom: 16px;
}

#about {
    
    display: flex;
    justify-content: center;
    height: 650px;
    position: relative;
    z-index: -1;
    top: 10px;
    margin: 6px;
    width: 48%;
}

.about-info {
    margin: 0px 4px;
    display: flex;
    position: absolute;
    z-index: -1;
    justify-content: center;
    flex-direction: column;
    width: 55%;
}


.about-info p {
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    margin: 10px 8px 0px 0px;
    padding: 8px;
    width: 555px;
    text-align: justify;


}

.about-info h1 {
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
}

.about-info p span {
    font-size: 1.6rem;
    color: rgb(135, 153, 219);
}

.me {
    margin: 8px 0px;
    padding: 6px;
}

.me>span {
    display: block;
    font-size: 1.3rem;
    color: rgb(158, 151, 151);
    padding: 4px;
    font-family: 'Ubuntu', sans-serif;
}

.me:first-child {
    color: rgb(173, 173, 216);
}

.img-1 {
    height: 690px;
    width: 500px;
    margin: 0px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -1;
    top: 5px;
    left: 122px;
}

img {
    height: 500px;
    width: 400px;

}


/* service section  */
.service {
background-color: black;
    margin: 2px;
    height: 444px;
    text-align: center;
    /* display: flex;

justify-content: center; */
}

#service {
   
    padding: 0px;
    height: 300px;
    display: flex;
    align-items: center;

}
.service .h-primery{
    color: white;
}

.box-1 {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 150%;
    margin: 4px;
  
}
.box-1 p{
    font-family: 'Ubuntu', sans-serif;

    margin: 4px 2px;
  
}

.box-1 img {
    height: 200px;
    width: 300px;
    margin: 4px 8px;
    padding: 4px 18px;
}


/* Setup  */
.setup{

/* border: 2px solid black; */
margin: 14px;
display: flex;
height: 500px;
flex-direction: column;
}

#setup{
display: flex;
margin: 8px 0px;
/* border: 2px solid black; */
/* justify-content:center ; */
justify-content: space-around;

}
.main-setup{
    height: 400px;
    width: 300px;
   margin: 4px 8px;
   display: flex;
   align-items: center;


}
.main-setup img{
    height: 400px;
    width: 300px;
    border-radius: 24px;
}













.h-primery {
    font-size: 3.5rem;
    
    font-family: 'Ubuntu', sans-serif;
    
}

.h-secondary {}

.center {
    text-align: center;
}